<div class="main -page">
<div class="sub-page">
<h1> Ecstatic</h1>
<p> A trance-induced frenzy of delight.</p>
<p>Find ecstasy in yourself. It is not out there.</p>
<p>It is in your innermost flowering. The one you are looking for is you.</p>
<h2>Here’s what we suggest for you:</h2>
<div class="images">
<img src="">
</div>
</div>
</div>